<head>
    <title>Safe Password Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.2.0/crypto-js.min.js"></script>
    <script src="/static/home.js" defer></script>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <h1 id="header">Safe Password Manager</h1>

    <div id="myModal" class="modal">
        <div id="modal-content" class="container">
            <h2>Enter Encryption Key</h2>
            <input type="password" placeholder="Key" id="encryption-key">
            <button id="modal-submit">Submit</button>
        </div>
    </div>

    <div id="get-div" class="container">
        <h3>Get Account</h3>
        <input list="accounts" id="account" name="account" placeholder="Select an account...">
        <datalist id="accounts">
        </datalist>
        <button id="get">Get</button>
        <p id="get-account-notice"></p>
    </div>

    <div id="get-fields" class="container">
        <table>
            <thead>
                <colgroup>
                    <col style="width: 15%; background-color: #e9e9e9;">
                    <col style="width: 48%; background-color: white">
                    <col style="width: 37%;">
                </colgroup>
            </thead>
            <tbody>
                <tr id="username-row" class="field-row">
                    <td style="padding-left: 2px; padding-right: 5px;">Username: </td>
                    <td id="username" class="field"></td>
                    <td class="copied-status" style="text-align: center;"></td>
                </tr>
                <tr id="email-row" class="field-row">
                    <td style="padding-left: 2px; padding-right: 5px;">Email: </td>
                    <td id="email" class="field"></td>
                    <td class="copied-status" style="text-align: center;"></td>
                </tr>
                <tr id="password-row" class="field-row">
                    <td style="padding-left: 2px; padding-right: 5px;">Password: </td>
                    <td id="password" class="field"></td>
                    <td class="copied-status" style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="add-div" class="container">
        <h3>Add Account</h3>
        <input type="text" id="account-input" placeholder="Account">
        <input type="text" id="username-input" placeholder="Username">
        <input type="text" id="email-input" placeholder="Email">
        <input type="text" id="pass-input" placeholder="Password">
        <button id="add">Add</button>
        <p id="add-notice"></p>
    </div>

    <button id="logout">
        <a href="/login">Logout</a>
    </button>
</body>