<head>
    <title>Login</title>
    <script src="/static/login.js" defer></script>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <h1 id="header">Login</h1>
    
    <div class="container">
        <h3>Enter Your Account Credentials</h3>
        <input type="text" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button id="login">Login</button>
        <p id="notice"></p>
    </div>
    
    <div class="container">
        <h3 id="unregistered">Not yet registered? </h3>
        <button id="register">
            <a href="./register">Register</a>
        </button>
    </div>
</body>