<head>
    <title>Register</title>
    <script src="/static/register.js"></script>
    <link rel="stylesheet" href="/static/register.css">
</head>

<body>
    <h1 id="header">Register</h1>

    <div class="container">
        <h3>Register Your Account</h3>
        <input type="text" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <input type="password" id="confirmed-password" placeholder="Confirm password">
        <button id="register">Register</button>
        <p id="notice"></p>
    </div>

    <div class="container">
        <h3>Already a user? </h3>
        <button id="login">
            <a href="./login">Login</a>
        </button>
    </div>
</body>